.formBlock {
    max-width: 300px;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted #ff079a;
    border-radius: 33px;

    .input {
        border-radius: 5px;
        border: 2px solid dodgerblue;
        padding-left: 10px;
        padding-right: 10px;
        margin: 20px;
        width: 80%;
        height: 50px;
    }

    .input:focus {
        outline: none;
        background: transparent;
    }

    .errorText {
        color: #ff4d4d;
    }

    .button1 {
        border-radius: 5px;
        border: 2px solid dodgerblue;
        margin: 20px;
        width: 80%;
        height: 50px;
        background: transparent;
        cursor: pointer;
    }

    .button1:focus {
        outline: none;
        background: transparent;
    }

    .button1:hover {
        background: #ff079a;
    }
}
